.rem-text-xs {
  font-size: 11rem;
}

.rem-text-sm {
  font-size: 13rem;
}

.rem-text-md {
  font-size: 15rem;
}

.rem-text-lg {
  font-size: 20rem;
}

.rem-upper {
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
